/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: lemonchiffon;
}

.navbar {
}
