<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/main.css" />
    <script src="/js/home/main.js"></script>
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="logo">
            <a href="/"><h1>MAIN</h1></a>
          </div>
          <ul class="menu">
            <li>
              <a href="/diagnostics">취약점진단</a>
            </li>
            <li>
              <a href="/list">점검항목</a>
            </li>
            <li>
              <a href="/mypage">마이페이지</a>
            </li>
          </ul>
          <ul class="menu">
            <li>
              <a href="/login">로그인</a>
            </li>
            <li>
              <a href="/register">회원가입</a>
            </li>
          </ul>
        </div>
        <div></div>
      </nav>
    </header>

    <!-- 섹션 영역 -->
    <section class=""></section>
  </body>
</html>
