<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noweakness</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
      body {
        font-family: "Noto Sans KR", sans-serif;
      }
      .gradient {
        background: linear-gradient(90deg, #0b952b9e 0%, #d8da51 100%);
      }
    </style>
    <style type="text/tailwindcss">
      @layer utilities {
        a[aria-current="page"] {
          @apply text-green-700;
        }
      }
    </style>
  </head>

  <body class="bg-gray-100">
    <!-- 헤더 영역 -->
    <header class="fixed w-full shadow-md z-10">
      <nav class="bg-white border-gray-200 py-2.5">
        <div
          class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
        >
          <a href="/" class="flex items-center">
            <!-- <img src="./images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Logo" /> -->
            <span
              class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
              >noweakness</span
            >
          </a>
          <% if (is_logined) { %>
            <div class="flex items-center lg:order-2">
              <a
                href="/auth/logout"
                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs shadow-md px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0"
                >로그아웃</a
              >
            </div>
            
          <% } else { %>
            <div class="flex items-center lg:order-2">
              <a
                href="/auth/login"
                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs shadow-md px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0"
                >로그인</a
              >
              <a
                href="/auth/register"
                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs shadow-md px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 ml-1"
                >회원가입</a
              >
            </div>
          <% } %>
          
          <div
            class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
          >
            <ul
              class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
            >
              <li>
                <a href="/" class="block py-2 pl-3 pr-3 text-gray-900 text-xl"
                  >홈</a
                >
              </li>

              <li>
                <a
                  href="/diagnostics"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  >진단서비스</a
                >
              </li>
              <li>
                <a
                  href="/list"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  aria-current="page"
                  >점검항목</a
                >
              </li>
              <li>
                <a
                  href="/result"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  >진단결과</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- 점검항목 영역 -->
    <section class="border-b py-8 w-3/5 mx-auto">
      <div class="container max-w-5xl mx-auto m-8 rounded-lg shadow-lg bg-white mt-20 pt-5">
        <h2
          class="w-full my-2 text-3xl font-medium leading-tight text-center text-black"
        >
          점검항목
        </h2>
        <div class="w-full mb-4">
          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                SQL Injection (Login)
              </h3>
              <p class="text-gray-600 mb-8">
                데이터베이스와 연동된 웹 애플리케이션에서 공격자가 입력 폼 또는 URL 입력란에 SQL 구문을 삽입하여 DB를 조작할 수 있는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                SQL Injection (GET/Search)
              </h3>
              <p class="text-gray-600 mb-8">
                데이터베이스와 연동된 웹 애플리케이션에서 공격자가 입력 폼 또는 URL 입력란에 SQL 구문을 삽입하여 DB를 조작할 수 있는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                SQL injection-blind (Boolean-Based)
              </h3>
              <p class="text-gray-600 mb-8">
                SQL Injection의 한 종류로, 공격자가 직접적으로 결과를 확인할 수 없는 상황에서 시도하는 공격 방법입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                관리자 페이지 노출
              </h3>
              <p class="text-gray-600 mb-8">
                웹 서버가 인덱스 파일이 없을 때 디렉토리의 내용을 나열하는 경우 발생하는 취약점입니다. 
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Diretory listing
              </h3>
              <p class="text-gray-600 mb-8">
                인덱스 파일이 없을 때 웹 서버가 디렉토리의 내용을 나열하는 경우 발생하는 취약점입니다. 이로 인해 공격자에게 민감한 정보가 노출될 수 있습니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                PHP Code Injection
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 악의적인 PHP 코드를 웹 사이트에 주입하여 서버에서 실행할 수 있도록 하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                XSS
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 웹 사이트에 악의적인 코드를 주입하여 사용자의 브라우저에서 실행되도록 하는 취약점입니다. 이를 통해 공격자는 민감한 정보를 도난당하거나 사용자의 계정을 제어할 수 있습니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                XSS Stored (Blog)
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 웹 사이트에 악의적인 코드를 주입하여 사용자의 브라우저에서 실행되도록 하는 취약점입니다. 이를 통해 공격자는 민감한 정보를 도난당하거나 사용자의 계정을 제어할 수 있습니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                세션 고정 취약점
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 사용자의 세션 ID를 고정하여 사용자의 세션을 탈취하고 계정을 제어할 수 있도록 하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                CSRF
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 사용자를 속여 웹 사이트에서 사용자의 지식이나 동의 없이 작업을 수행하도록 하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Redirect 취약점
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 사용자를 악의적인 웹 사이트로 리디렉션 할 수 있도록 하는 취약점으로, 일반적으로 피싱 또는 악성 코드 배포를 위해 사용됩니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Cookie
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 사용자의 쿠키를 수정하여 사용자의 세션을 탈취하거나 민감한 정보를 도난당할 수 있도록 하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                약한 문자열 강도
              </h3>
              <p class="text-gray-600 mb-8">
                웹 사이트에서 사용자가 약한 비밀번호를 선택할 수 있도록 허용하는 경우 발생하는 취약점으로, 공격자가 비밀번호를 추측하거나 크래킹하기 쉬워집니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                LDAP Injection
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 악의적인 LDAP 코드를 웹 사이트에 주입하여 민감한 정보에 접근하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                XML/XPATH Injection
              </h3>
              <p class="text-gray-600 mb-8">
                공격자가 악의적인 XML 또는 XPath 코드를 웹 사이트에 주입하여 민감한 정보에 접근하거나 웹 사이트의 동작을 조작할 수 있도록 하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Broken Auth (Insecure Login Forms)
              </h3>
              <p class="text-gray-600 mb-8">
                웹 사이트의 인증 메커니즘이 잘못 구현되어 공격자가 이를 우회하여 무단 접근할 수 있는 경우 발생하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Insecure DOR (Change Secret)
              </h3>
              <p class="text-gray-600 mb-8">
                웹 사이트에서 내부 객체(예: 파일 또는 데이터베이스 레코드)에 대한 참조를 노출하여 공격자가 직접 접근할 수 있도록 하는 취약점입니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Base64 Encoding (Secret)
              </h3>
              <p class="text-gray-600 mb-8">
                Base64는 바이너리 데이터를 ASCII 문자열로 변환하는 인코딩 방식입니다. 해당 취약점의 경우, 암호화 대신 인코딩만 사용하여 중요한 정보를 저장했을 때에 발생하는 취약점을 말합니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Restrict Folder Access
              </h3>
              <p class="text-gray-600 mb-8">
                특정 폴더에 대한 접근을 제한하는 것을 의미합니다. 폴더 접근 제한이 제대로 설정되지 않은 경우에 발생하는 취약점을 말합니다.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Security Misconfiguration (Old, Backup & Unreferenced Files)
              </h3>
              <p class="text-gray-600 mb-8">
                웹 사이트가 제대로 구성되지 않아 공격에 노출되는 취약점입니다.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Footer-->
    <footer class="bg-white">
      <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1 mb-6 text-black">
            <a
              class="text-green-700 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
              href="#"
            >
              noweakness
            </a>
          </div>
          <div class="flex-1 ml-10">
            <a
              href="/diagnostics"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >진단서비스</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">진단도구</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">웹서비스</p>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <a
              href="/list"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >점검항목</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">웹취약점</p>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <a
              href="/result"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >진단결과</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">진단결과</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">대응방안</p>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <a
              href="/info"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >소개</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">About</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">Project</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
