<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noweakness</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/src/public/js/home/main.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
      body {
        font-family: "Noto Sans KR", sans-serif;
      }
      .gradient {
        background: linear-gradient(90deg, #0b952b9e 0%, #d8da51 100%);
      }
    </style>
    <style type="text/tailwindcss">
      @layer utilities {
        a[aria-current="page"] {
          @apply text-green-700;
        }
      }
    </style>
  </head>

  <body class="gradient">
    <!-- 헤더 영역 -->
    <header class="fixed w-full shadow-md">
      <nav class="bg-white border-gray-200 py-2.5">
        <div
          class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
        >
          <a href="/" class="flex items-center">
            <!-- <img src="./images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Logo" /> -->
            <span
              class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
              >noweakness</span
            >
          </a>
          <div class="flex items-center lg:order-2">
            <a
              href="/login"
              class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs shadow-md px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0"
              >로그인</a
            >
            <a
              href="/register"
              class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs shadow-md px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 ml-1"
              >회원가입</a
            >
          </div>
          <div
            class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
          >
            <ul
              class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
            >
              <li>
                <a href="/" class="block py-2 pl-3 pr-3 text-gray-900 text-xl"
                  >홈</a
                >
              </li>

              <li>
                <a
                  href="/diagnostics"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  >진단서비스</a
                >
              </li>
              <li>
                <a
                  href="/list"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  aria-current="page"
                  >점검항목</a
                >
              </li>
              <li>
                <a
                  href="/info"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  >소개</a
                >
              </li>
              <li>
                <a
                  href="/mypage"
                  class="block py-2 pl-3 pr-3 text-xl text-gray-900 hover:text-green-700 hover:transition-all hover:duration-300"
                  >마이페이지</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- 점검항목 영역 -->
    <section class="border-b py-8 w-3/5 mx-auto">
      <div class="container max-w-5xl mx-auto m-8 bg-white mt-20 pt-5">
        <h2
          class="w-full my-2 text-3xl font-medium leading-tight text-center text-black"
        >
          점검항목
        </h2>
        <div class="w-full mb-4">
          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                SQL Injection (Login) (A1)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                SQL Injection (GET/Search) (A1)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                관리자 페이지 노출 (A5)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Diretory listing (A7)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                PHP CODE INJECTION (A1)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                XSS - Stored (Blog) (A3)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                세션 고정 취약점
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                CSRF (A8)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                약한 문자열 강도
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                LDAP Injection
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                XML/XPATH Injection
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Broken Auth. - Insecure Login Forms
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Insecure DOR (Change Secret)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Base64 Encoding (Secret)
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                Restrict Folder Access
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
          <div class="w-full p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3">
                XSS
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                at ipsum eu nunc commodo posuere et sit amet ligula.
                <hr>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Footer-->
    <footer class="bg-white">
      <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1 mb-6 text-black">
            <a
              class="text-green-700 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
              href="#"
            >
              noweakness
            </a>
          </div>
          <div class="flex-1 ml-10">
            <a
              href="/diagnostics"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >진단서비스</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">진단 도구</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">웹 서비스</p>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <a
              href="/list"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >점검 항목</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">웹 취약점</p>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <a
              href="/mypage"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >마이페이지</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">진단 결과</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">정보 수정</p>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <a
              href="/info"
              class="text-gray-900 hover:text-green-700 md:mb-6 no-underline hover:underline hover:underline-offset-2"
              >프로젝트</a
            >
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">Project</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">About</p>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:ml-0">
                <p class="text-gray-500">Contact</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
