<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/login.css" />
    <script src="/js/home/login.js" defer></script>
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="logo">
            <a href="#"><h1>DAJABA</h1></a>
          </div>
          <ul class="left_nav">
            <li>
              <a href="scanner.html">취약점진단</a>
            </li>
            <li>
              <a href="information.html">점검항목</a>
            </li>
            <li>
              <a href="mypage.html">마이페이지</a>
            </li>
          </ul>
          <ul class="right_nav">
            <li>
              <a href="signin.html">로그인</a>
            </li>
            <li>
              <a href="signup.html">회원가입</a>
            </li>
          </ul>
        </div>
        <div></div>
      </nav>
    </header>

    <!-- 섹션 영역 -->
    <section class="main">
      <div class="login-page">
        <div class="form">
          <!-- <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form> -->
          <form class="login-form">
            <input id="id" type="text" placeholder="id" />
            <input id="password" type="password" placeholder="password" />
            <p id="button">login</p>
            <p class="message">
              Not registered? <a href="/register">Create an account</a>
            </p>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
