<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/home/signin.js" defer></script>
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="logo">
            <a href="#"><h1>DAJABA</h1></a>
          </div>
          <ul class="left_nav">
            <li>
              <a href="scanner.html">취약점진단</a>
            </li>
            <li>
              <a href="information.html">점검항목</a>
            </li>
            <li>
              <a href="mypage.html">마이페이지</a>
            </li>
          </ul>
          <ul class="right_nav">
            <li>
              <a href="signin.html">로그인</a>
            </li>
            <li>
              <a href="signup.html">회원가입</a>
            </li>
          </ul>
        </div>
        <div></div>
      </nav>
    </header>

    <!-- 섹션 영역 -->
    <section class="main">
      <h1>LOGIN</h1>
      <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디" />
            <input id="password" type="password" placeholder="비밀번호" />
            <button id="login_btn">login</button>
            <p class="message">
              아직 회원이 아니신가요? <a href="/signup.html">회원가입</a>
            </p>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
